<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Informational Site - Odin Project</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <div class="site-title"> 
      <a href="/"><h1>Basic Informational Site</h1></a>
    </div>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/contact-me">Contact</a></li>   
    </ul>
  </nav>

  <main>
   <div class="contact-form content">
    <form > 
      <label for="title">Subject:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Email:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Message:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>
  </main>
</body>
</html>